<div class="container-fluid picpay py-5">
  <div class="row mt-md-2">
    <div class="col-12 col-md-7 imagem cs d-none d-md-block" >
      <img src="./../../../assets/img/picpay_vetor.png" class="img-fluid">
    </div>
    <div class="col-12 col-md-5 pr-4">
      <div class="row text-right pt-md-5">
        <div class="col-12 pt-md-5 mobile-caixa-1">
          <h1 class="web-h1">PAGUE SEU BOLETO MIDWAY COM A PICPAY.</h1>
          <h1 class="mobile-h1">Seu acordo Riachuelo em até 12x no cartão</h1>
        </div>
        <div class="col-12 mobile-caixa-texto" >
          <p class="web-text">Parcelando com a <span class="destaque">PicPay</span>,
            você pode dividir seu boleto Riachuelo em até 12x
            no cartão de crédito!
          </p>
          <p class="col-12 mobile-text">
            Com a <span class="destaque">Parcele já</span>
            você pode dividir o boleto do seu acordo usando até 8 cartões de crédito!
          </p>
        </div>
        <div class="col-12 mobile-btn" >
          <button class="btn btn-theme" (click)="chamar()">
            Saber mais
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
