<div class="container-fluid py-5 img-pgcomprando web">
  <div class="col-12">
    <section class="container ">
      <div class="d-flex justify-content-center">
        <div class="row pb-4">
          <div class="col-2 mr-0 pr-0">
            <img src="../../../assets/img/LogoPagueComprando.png" width="80" height="80" alt="Logo Pague Comprando">
          </div>
          <div class="col-10 text-left text-md-left ml-0 pl-0">
            <h1 class="purple">O QUE ERA BOM,<br>
              FICOU AINDA MELHOR!</h1>
          </div>
        </div>
      </div>
      <div class="row p-3">
          <div class="col">
            <p>A <b class="greenwhite">Faça Acordo</b> já ajudou milhões de pessoas<br>
              a saírem de suas dívidas e a terem uma vida<br>
              financeira livre. Mas nós queríamos mais!<br>
              Para isso Criamos a <b class="green">Pague</b><b class="oranje"> Comprando</b></p>
            <p>Que tal negociar com desconto aumentar<br>
              seu score e ainda ganhar pontos para serem<br>
              trocados em nossa loja virtual?</p>
            <p>Na <b class="green">Pague</b><b class="oranje"> Comprando</b>, seu acordo vale benefícios.</p>
          </div>
          <div class="col esquerda">
            <div>
              <iframe height="250" class="img-loja" src="https://www.youtube.com/embed/6nSoNhuMmBI" frameborder="0"></iframe>
<!--               <img class="" src="../../../assets/img/IImagem-loja.png" alt="Pague Comprando">
 -->
            </div>
            <div>
              <button class="btn-store pl-md-5 pr-md-5" (click)="loja()">Visitar loja</button>
            </div>
          </div>
      </div>
    </section>
  </div>
</div>
<!-- mobile -->
<section class="mobile mb-4">
      <div class="caixa-1">
        <div class="caixa-header">
            <img src="../../../assets/img/LogoPagueComprando.png" alt="Logo Pague Comprando">
            <h1 class="purple">O QUE ERA BOM,<br>
              FICOU AINDA MELHOR!</h1>
        </div>
      </div>
      <div class="caixa-2">
          <div class="texto">
            <p>A <b class="greenwhite">Faça Acordo</b> já ajudou milhões de pessoas
              a saírem de suas dívidas e a terem uma vida
              financeira livre. Mas nós queríamos mais!<br>
              Para isso Criamos a <b class="green">Pague</b><b class="oranje"> Comprando</b></p>
            <p>Que tal negociar com desconto aumentar
              seu score e ainda ganhar pontos para serem
              trocados em nossa loja virtual?</p>
            <p>Na <b class="green">Pague</b><b class="oranje"> Comprando</b>, seu acordo vale benefícios.</p>
          </div>
          <iframe height="250" class="img-loja" src="https://www.youtube.com/embed/6nSoNhuMmBI" frameborder="0"></iframe>
          <button class="pl-md-5 pr-md-5" (click)="loja()">Visitar loja</button>
      </div>
</section>