<mat-toolbar fxLayout="row" class="fixed-top mat-toolbar-mobile">
  <span fxFlex>
    <a routerLink="/home" routerLinkActive="active">
      <div class="col-10">
        <img src="./../../../../assets/img/faça_acordo_Riachuelo_midway.png" width="400" class="img-fluid web" alt="">
        <img src="./../../../../assets/img/faca_acordo_Riachuelo_midway_mobile.png" width="400" class="img-fluid mobile" alt="">
      </div>
    </a>
  </span>
  <a fxHide.xs routerLink="/admin" routerLinkActive="active" class="pr-3 pl-3" *ngIf="auth.isAuthenticated() && auth.isMaster()">Usuários</a>
  <a fxHide.xs routerLink="/dashboard" routerLinkActive="active" class="pr-3 pl-3" *ngIf="auth.isAuthenticated() && (auth.isAdmin() || auth.isMaster())">Relatório</a>
  <a fxHide.xs (click)="opt('sair')" class="pr-3 pl-3" *ngIf="auth.isAuthenticated() && (auth.isAdmin() || auth.isMaster())">Sair</a>
  <a *ngFor="let option of headerNavOptions;let last = last" fxHide.xs class="pr-3 pl-3"
    (click)="opt(option?.url)">{{ option?.text }}</a>
  <button class="btn btn-theme" fxHide.xs (click)="entrar()" *ngIf="!auth.isAuthenticated()">Consultar CPF</button>
  <a mat-icon-button [matMenuTriggerFor]="dropMenu" fxHide fxShow.xs>
    <mat-icon class="white-icon">menu</mat-icon>
  </a>
  <mat-menu class="mat-menu-mobile" #dropMenu="matMenu">
    <ng-container class="ng-menu-mobile">
        <a mat-menu-item *ngIf="!auth.isAuthenticated()" (click)="opt('login')">Consultar CPF</a>
        <a mat-menu-item class="web" *ngIf="auth.isAuthenticated() && !auth.isAdmin() && !auth.isMaster()" (click)="opt('debt')">Meus débitos</a>
        <a mat-menu-item class="mobile" *ngIf="auth.isAuthenticated() && !auth.isAdmin() && !auth.isMaster()" (click)="opt('debt')">Minhas dívidas</a>
        <a mat-menu-item *ngIf="!auth.isAuthenticated()" (click)="opt('login')" class="lateral">2ª via de boleto</a>
        <a mat-menu-item (click)="navigate('whatsapp')" class="lateral">Negociar via WhatsApp</a>
        <a mat-menu-item (click)="navigate('sobre')" class="lateral">Quem somos</a>
        <a mat-menu-item *ngIf="auth.isAuthenticated() && !auth.isAdmin() && !auth.isMaster()" (click)="opt('faq')" class="web">Me ajuda</a>
        <a mat-menu-item *ngIf="auth.isAuthenticated() && !auth.isAdmin() && !auth.isMaster()" (click)="opt('faq')" class="mobile">Central de ajuda</a>
        <a mat-menu-item *ngIf="auth.isAuthenticated() && !auth.isAdmin() && !auth.isMaster()" (click)="opt('faq')" class="mobile">Entrar em contato</a>

        <a mat-menu-item *ngIf="(auth.isAdmin() || auth.isMaster()) && auth.isAuthenticated()" routerLink="/dashboard" routerLinkActive="active">Relatório</a>
        <a mat-menu-item *ngIf="auth.isMaster() && auth.isAuthenticated()" routerLink="/admin" routerLinkActive="active">Usuários</a>
        <a mat-menu-item *ngIf="auth.isAuthenticated()" (click)="opt('sair')">Sair</a>

    </ng-container>
  </mat-menu>
</mat-toolbar>
