<div class="container-fluid  py-5 h-100 justify-content-between">
  <div class="row h-100 no-gutters align-items-center">
    <div class="col-10 col-md-5 co-lg-5 col-xl-4 mx-auto card border-0 riachuelo">
      <div class="card-body">
        <h2>Recuperar Senha</h2>
        <form [formGroup]="prForm" novalidate (ngSubmit)="onSubmit()">
          <div class="row no-gutters">
            <app-cpf-or-cpnj class="col-12" (cpfOrCnpjChanges)="cpfChanges($event)" formControlname="cpfOrCnpj"></app-cpf-or-cpnj>
          </div>
          <div class="row no-gutters d-flex justify-content-center">
            <button class="btn btn-theme" type="submit">Recuperar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>