<div class="container-fluid segunda-via py-5 mobile">
  <div class="row">
    <div class="col-12 col-md-8" >
      <div class="col-12 text-center text-md-left">
        <h1 class="title">Precisa da 2ª via do boleto?</h1>
      </div>
      <div class="col-12 mobile-caixa-texto">
        <p>Fique tranquilo, acesse nossa área logada
          e baixe sua fatura.
        </p>
      </div>
    </div>
    <div class="col-12 col-md-4 text-center pt-4 mobile-btn" >
      <button class="btn btn-theme pl-md-5 pr-md-5" (click)="entrar()">
        <h2 class="m-0">Acessar Conta</h2>
      </button>
    </div>
  </div>
</div>
