.mobile-vencido{
  display: none;
}
.mobile-caixa-btns{
  .btn-mobile{
    display: none;
  }
  .btn-web{
    display: inline-block;
  }
}
.card {
  border-radius: 15px;
  .saldo-vencido-a-vencer-web{
    display: inline-block;
  }
}

.web-de-por-ate{
  display: inline-block;
}
.mobile-de-por-ate{
  display: none;
}

.text-title{
  font-size: 23px;
  margin-right: 0px !important;
  padding-right: 0px !important;
}

.description-ofertas{
  display: flex;
  color: #28a745 !important;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.oferta{
  display: inline-flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-direction: row;
}

.img-cliente{
  margin: 0px !important;
  padding: 0px !important;
}

.img-cliente img {
  width: 45%;
}

.infodebt{
  background-color: white;
  border:1px solid black !important ;
  padding: 15px;
}

.line-debt-itens{
  display: flex;
  flex-direction: row-reverse;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  margin-left: 0px;
  padding-left: 0px;
  padding-right: 0px;
  margin-top: 1em;
}

.desconto-0{
  position: relative;
}

.desconto-caixa-web{
  position: absolute;
  display: flex;
  width: 88%;
  justify-content: flex-end;
}

.desconto{
  background: linear-gradient(162.3deg, #9B00D1 0%, rgba(141, 6, 189, 0.53125) 46.88%, rgba(184, 102, 213, 0.53125) 99.99%, rgba(113, 86, 122, 0) 100%);
  position: absolute;
  height: 130px;
  width: 130px;
  clip-path: polygon(0% 0, 100% 0%, 100% 100%, 50% 50%);
}

.desconto span{
  color: #fff !important;
  font-size: 20px !important;
  display: flex;
  flex-direction: row-reverse;
  align-content: stretch;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
  padding: 13px;
}

.text-green{
  color: rgb(13, 212, 142) !important;
}

.desco {
  border-radius: 100%;
  background-color:  rgba(0, 100, 100, 1) !important;
  width: 70px;
  height: 70px;
  position: relative;
}

.msg-vencidoeavencer p{
  color: rgb(63, 63, 63) !important;
  font-size: 10px;
}

p {
  color: rgb(63, 63, 63) !important;
  margin-top: 5px !important;
  font-size: 19px
}

figure {
  border-radius: 25px;
}

fa-icon {
  right: 0px;
}

.btn {
  border-radius: 35px !important;
  cursor: pointer;
  font-family: 'arial' !important;
  padding: 5px 10px 5px 10px !important;
}

.btn:hover{
  border: 1px solid #7511a9 !important;
  color: #7511a9 !important;
}

.desco {
  border-radius: 100%;
  background-color:  rgba(0, 100, 100, 1) !important;
  width: 70px;
  height: 70px;
  position: relative;
}
h3{
  font-size: 1.1em !important;
  color: gray !important;
}
/deep/ .mat-radio-label-content, p {
  color: gray;
  margin: 0px;
}

/deep/ .mat-radio-outer-circle {
  border-color: rgba(0, 100, 100, 1);
}

/deep/ .mat-radio-checked {
  .mat-radio-outer-circle {
    border-color:  rgba(44,244,148,1) !important;
  }

  .mat-radio-inner-circle {
    background-color:  rgba(44,244,148,1) !important;
  }
}

.img-cliente img {
  width: 45%;
}

@media (max-width: 600px) {
  .mobile-vencido{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    max-height: 900px;
    .flex-mobile{
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      align-content: center;
      justify-content: center;
      align-items: center;
      padding: 3em;
      p{
        color: #FFFFFF !important;
        font-size: 1.6em !important;
        margin-bottom: 3em;
      }
      .radio-group{
        margin-bottom: 2em;
        .radio-button{
          margin-bottom: 5em;
        }
        /deep/ .radio-button .mat-radio-label-content {
          color: #FFF !important;
        }
        /deep/ .radio-button .mat-radio-outer-circle {
          border-color: #9F36C3 !important;
          background-color: #FFFFFF !important;
        }
        /deep/ .mat-radio-button.mat-accent .mat-radio-inner-circle {
          background-color: #FFFFFF;
        }
        /deep/ .mat-radio-checked .mat-radio-inner-circle {
          background-color: #9F36C3 !important;
        }

        .mat-radio-checked .mat-radio-outer-circle {
          border-color: #9F36C3 !important;
        }
      }

    }
  }
  .hide-mobile{
    display: none;
  }
  .caixa-saldos-descontos{
    display: none;
  }
  .mobile-caixa-btns{
    .btn-mobile{
      display: inline-block;
    }
    .btn-web{
      display: none;
    }
  }
  .oferta{
    width: 100% !important;
    background: #9F36C4 !important;
    border-radius: 6px !important;
    max-width: 31em !important;
    height: 4em !important;
  }
  .card {
    border: none !important;
    height: auto !important;
    background: rgba(255, 255, 255, 0.31) !important;
    border-radius: 5px !important;

    .desconto-caixa-web{
      display: none;
    }
    .mobile{
      .saldo-vencido-a-vencer-web{
        display: none;
      }
      .hide-caixa-cliente{
        display: none !important;
      }
      .text-title{
        color: #FFFFFF !important;
      }
      .caixa-img{
        /* background: #fff; */
        padding: 0px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
        align-items: center;
      }
    }
    .mobile-desc{
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      align-content: center;
      align-items: center;
      justify-content: center;
      .contrato{
        background: #FFFFFF;
        border-radius: 3px;
        width: 100%;
        padding: 0.5em;
        display: inline-block;
        margin-bottom: 1em;
        font-size: 1em !important;
      }
      .descricao{
        background: #FFFFFF;
        border-radius: 3px;
        width: 100%;
        padding: 0.5em;
        display: inline-block;
        margin-bottom: 1em;
        font-size: 1em !important;
      }
      .dias-em-atraso-flex{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: space-around;
        justify-content: center;
        align-items: stretch;
        width: 100%;
        font-size: 1em !important;

        .dias-em-atraso{
          background: #FFFFFF;
          border-radius: 3px;
          width: 100%;
          padding: 0.5em;
          display: inline-block;
          margin-bottom: 1em;
        }
        .web-de-por-ate{
          display: none !important;
        }
        .mobile-de-por-ate{
          display: flex !important;
          flex-direction: row;
          flex-wrap: nowrap;
          align-content: center;
          align-items: center;
          justify-content: space-around;
          margin-bottom: 1em;
          .desconto-mobile{
            background: linear-gradient(180deg, #8970CF 0%, #C04FFF 55.21%, #A142C2 100%);
            border-radius: 3px;
            width: 4.2em;
            align-items: center;
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            align-content: center;
            justify-content: center;
            span{
              color: #FFFFFF;
            }
          }
        }
      }


    }
  }
  .line-debt-itens {
    margin-top: 40px !important;
  }

  .img-cliente img {
    width: 50%;
  }

  .description-ofertas{
    display: none !important;
  }

  .btn {
    font-size: 15px;
  }


}
