<div class="container-fluid whats-2 py-5">
  <div class="row ml-md-5">
    <div class="col-12 col-md-7" >
      <div class="col-12 text-center text-md-left">
        <h1>Gostou?</h1>
      </div>
      <div class="col-12">
        <p>O que acha de conferir promoções exclusivas
          sobre sua dívida? Chame nosso time de
          consultores agora mesmo no <span><strong><u>WhatsApp!</u></strong></span>
        </p>
      </div>
    </div>
    <div class="col-12 col-md-5 text-center pt-5 mt-md-1" >
      <button class="btn btn-theme" (click)="chamar()">
        <div class="row">
          <img src="./../../../assets/img/Icone_whatsapp.png" class="img-fluid d-none d-md-block mr-2" width="30">
          Chamar consultor no WhatsApp
        </div>
      </button>
    </div>
  </div>
</div>
