.web{
  display: inherit;
}

.mobile{
  display: none;
}

/deep/.mat-radio-label-content, p{
  color: black;
  margin: 0px;
  font-size: 1.2em;
}
.botao-met-pagamento /deep/.mat-radio-outer-circle{
  display: flex;
}

.imgCenter{
  display: flex !important;
  flex-direction: row !important;
  flex-wrap: wrap !important;
  justify-content: center !important;
  align-content: center !important;
  align-items: center !important;
    .img-boleto{
      margin-left: 0;
    }
    .img-credicard{
      margin-left: 0;
    }
}

.btn {
  border-radius: 25px !important;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
  font-family: 'arial' !important;
  display: flex;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.campo-boleto {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
}

.img-boleto{
  width: 88px;
  margin-left: 40px;
}

.img-credicard{
  width: 305px;
  margin-left: 40px;
}

.botao-met-pagamento /deep/.mat-radio-label-content{
  background-color: #fff !important;
  border: none !important;
  margin: 0 !important;
  padding: 0 !important;
  width: 105px;
  height: 30px !important;
}

.botao-met-pagamento /deep/.mat-radio-container {
  display: flex;
}

.btn-conf-acordo{
  padding-top: 5px !important;
  padding-bottom: 5px !important;
  border-radius: 12px !important;
}

.titulo{
  color: black;
  font-size: 20px !important;
}

/deep/.mat-radio-checked{
  .mat-radio-outer-circle{
      display: flex !important;
      border-color:  rgba(0, 0, 0, 1) !important;
  }
  .mat-radio-inner-circle{
      display: flex !important;
      background-color:   #7511a9 !important;
  }
}
.botao-met-pagamento /deep/.noneMatRadio{
  display: flex!important;
}

/deep/ .mat-radio-button {
  display: flex !important;
  outline: 0 !important;
  flex-direction: column !important;
  flex-wrap: nowrap !important;
  align-content: flex-start !important;
  align-items: flex-start !important;
}

.btn_bradesco {
  background-color:  rgba(51,51,51,1) !important;
  border: rgba(51,51,51,1) !important;
}

.caixa-btn-mobile{
  .web{
    display: inherit;
  }
  .mobile{
    display: none;
  }
}

@media (max-width: 600px) {
  /* loading */
  .loading-debt{
    background-color: rgba(255, 255, 255, 0.8);
    position: fixed;
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
  }

  .loading-debt p{
    color: #202020;
    font-size: 25px;
  }

  .loader {
    color: #7511a9;
    font-size: 20px;
    margin: 100px auto;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    position: relative;
    text-indent: -9999em;
    -webkit-animation: load4 1.3s infinite linear;
    animation: load4 1.3s infinite linear;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
  }
  /* fim loading */
  /* background: rgba(217, 217, 217, 0.67);
border-radius: 4px; */
  form{
    background: rgba(255, 255, 255, 0.31);
    border-radius: 6px;
    padding: 1em;
    .caixa-msg-valores{
      .msg{
        color: #fff;
        font-size: 1.2em !important;
        font-weight: 600;
      }
      .box{
        background: #D9D9D9;
        border-radius: 6px;
        padding: 0.7em 7em;
        p{
          color: #000;
          font-weight: 600;
          font-size: .8em !important;
        }
      }
    }
    /deep/ .mat-radio-group {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-content: center;
      justify-content: center;
    }
    /deep/ .botao-pagamento {
      background: rgba(217, 217, 217, 0.67) !important;
      border-radius: 6px !important;
      width: 50%;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      align-content: center;
      align-items: center;
      margin: 5px;
      .text-left {
          text-align: left !important;
          flex: 0 !important;
      }
      .img-boleto {
        width: 70px;
        margin-left: 0 !important;
      }
      .img-credicard {
        width: 125px;
        margin-left: 0 !important;
      }
      /deep/ .mat-radio-button {
        display: flex !important;
        outline: 0 !important;
        flex-direction: column !important;
        flex-wrap: nowrap !important;
        align-content: center !important;
        align-items: center !important;
        justify-content: center !important;
        flex: none;
        .campo-boleto {
          display: flex !important;
          flex-direction: column !important;
          flex-wrap: nowrap !important;
          justify-content: center !important;
          align-content: center !important;
          align-items: center !important;
      }
    }
      .botao-met-pagamento /deep/.mat-radio-label-content{
        background-color: transparent !important;
      }
    }
  }
  .caixa-btn-mobile{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    .web{
      display: none;
    }
    .mobile{
      display: inherit;
    }
    .btn {
      padding-top: 12px !important;
      padding-bottom: 12px !important;
      background: #9F36C4 !important;
      border-radius: 6px !important;
      max-width: 20em;
      //width: 16em;
      margin-right: 0 !important;
      margin-top: 1em;
      //font-size: 1.5em;

    }
  }

  .web{
    display: none;
  }

  .mobile{
    display: inline-block;
  }

  .btn {
    padding-top: 5px !important;
    padding-bottom: 5px !important;

    background: #9F36C4 !important;
    border-radius: 6px !important;
  }


  .titulo {
    font-size: 20px !important;
    color: #fff;
  }

  .mat-radio-label-content, p {
    font-size: 1.1em !important;
  }
  .btn-confac{
    font-size: 14px !important;
  }
}
