<div class="row no-gutters">
  <div class="col-12 d-block">
      <img [src]="bg" [alt]="bgAlt" class="img-fluid d-none d-md-block">
      <img [src]="bgMobile" [alt]="bgAlt" class="img-fluid d-block d-md-none">
  </div>
</div>
<div class="row no-gutters position-absolute w-100 h-100 d-flex align-items-center">
  <div class="col-10 offset-1 col-md-5 offset-md-1 co-lg-5 offset-lg-1 col-xl-4 p-4 card border-0 mt-xl-5">
    <h2>Entre em contato com a nossa central de atendimento, por favor.</h2>
    <a href="http://vej.ae/l/atmatec">Clique aqui para ir para nossos canais de atendimento</a>
  </div>
</div>
