<div mat-dialog-content class="container h-100 justify-content-between">
  <div class="row h-100 no-gutters align-items-center">
    <div class="col-12">
      <div class="">
        <div class="">
          <div class="">
            <h1>QUE TAL NEGOCIAR COM A <span>RIACHUELO</span> E AINDA GANHAR <span>PONTOS?</span></h1>
          </div>
        </div>
        <div class="row py-1">
          <div class="col-6">
            <div class="col-12">
              <img src="./../../../../assets/img/picpay/faca.png" class="img-fluid" width="150">
            </div>
            <div class="col-12">
              <h2>Pague usando o PicPay.</h2>
              <button class="btn btn-theme" (click)="openFacebook()">Saiba mais</button>
            </div>
          </div>
          <div class="col-6 p-0">
            <img src="./../../../../assets/img/picpay/mobile.png" class="img-fluid">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
