.container{
    background-color: rgba(21, 198, 111, 1) !important;
}
h1, h2{
    color: white !important;
}

span{
    color: rgba(35, 0 , 227, 1);
}

.btn-theme{
    background-color: rgba(35, 0 , 227, 1) !important;
}
.btn-theme:hover{
    background-color: black !important;
    border: solid 1px white !important;
    color: white !important;
}