
p{
  color: gray !important;
}
a{
  transition: transform 0.5s;
}

a:hover{
    -ms-transform: rotate(-30deg);
    -webkit-transform: rotate(-30deg);
    -moz-transform: rotate(-30deg);
    -o-transform: rotate(-30deg);
    transform: rotate(-30deg);
}

@media screen and (max-width: 798px) {
  .contacts{
    img{
      width: 50px !important;
    }
  }
}

@media screen and (max-width: 600px) {
  .card{
    background: rgba(255, 255, 255, 0.1) !important;
    border-radius: 5px !important;
    h2, p{
      color: #fff !important;
    }
  }
}
