.card{
    border-radius: 15px;
}
.position-absolute{
    top: 15%;
}
ul, h3, li, h4{
    color: gray !important;
}
  
h3{
    font-size: 1em;
    color: gray !important;

}
h2 {
    color:rgba(0, 100, 100, 1) !important;
}
mat-icon{
    color: #fff;
}
a{
    text-decoration: none!important;
}
