<div class="row no-gutters card border-0 p-4 text-center riachuelo">
  <div class="col-12 p-0">
    <div class="row no-gutters">
      <form class="col-12 my-2">
        <div class="row no-gutters">
          <div class="col-12 text-left">
            <h2>Selfie com Documento</h2>
          </div>
          <div class="col-8 text-left">
            <p>Tire uma foto sua segurando seu documento* com CPF(RG ou CNH), tipo selfie. Capriche!</p>
            <p>Precisamos te reconhecer e ler o documento</p>
          </div>
          <div class="col-4 text-left">
            <img src="./../../../../../assets/img/payment/selfie.png" class="img-fluid" alt="">
          </div>

          <div class="col-12 col-md-4 px-1 text-center align-items-center d-flex">
            <button type="button" (click)="confirmOK()" class="btn btn-theme">OK</button> <!-- mat-raised-button-->
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
