.leftRed{
  border-left: 1px solid red;
}
.bottomOrange{
  border-bottom: 1px solid orange;
  color: orange !important;
}
.subtitle{
  color: black !important;
}

ul{
  list-style-type: disc;
}
.confirm{
  list-style-type: "✔ " !important;
}
