<h1 mat-dialog-title>Política de Privacidade</h1>
<div mat-dialog-content>
  <p>A Política de Privacidade da ATMA foi criada para mostrar o nosso compromisso em sempre tratar os seus dados pessoais com segurança, privacidade e transparência e, se aplica a todos os usuários que visitam e preencham cadastros no nosso website institucional, o portal “ATMA.Digital” e a plataforma “Faça Acordo”.</p>
  <p>A sua privacidade é importante para nós, e estamos comprometidos em protegê-la. Assim, asseguramos a você que coletamos e utilizamos alguns dados pessoais pertencentes àqueles usuários que utilizam nossos sistemas e, na qualidade de controlador desses dados, sua proteção atende à legislação vigente (Lei Geral de Proteção de Dados ‘LGPD’ (Lei Federal nº 13.709/2018)) e estão sujeitas às leis locais aplicáveis, além de prevê a proteção contra transferência internacional de dados para outros países.</p>
  <p>Esta política de privacidade contém informações importantes sobre:</p>
  <ul>
    <li>Quem deve utilizar este website, o portal e a plataforma?</li>
    <li>Quais dados coletamos e o que fazemos com eles?</li>
    <li>Seus direitos em relação aos seus dados pessoais;</li>
    <li>Como entrar em contato conosco?</li>
  </ul>
  <p>Esta política explica o que faremos com suas informações pessoais e visa esclarecer a todos os interessados sobre os tipos de dados que coletamos, os motivos da coleta e a forma como os usuários deste site podem acessar, atualizar ou excluir suas informações pessoais.</p>
  <p>Ao aceitar os termos dessa Política de Privacidade, você está ciente de que a controladora dos seus dados pessoais, ou seja, a empresa responsável será ATMA SERVIÇOS FINANCEIROS E ATENDIMENTO LTDA., com nome fantasia ATMA. pessoa jurídica de direito privado, inscrita no CNPJ/MF sob nº 08.746.962/0001-04, com sede na Cidade de São Caetano do Sul/SP, na Rua João Pessoa, nº 756, Centro, CEP 09520-010.</p>
  <p>Se tiver quaisquer dúvidas ou comentários relacionados à nossa Política de Privacidade, nossos canais de atendimento indicados abaixo estarão à sua disposição: </p>
  <div class="pt-4 pb-4">
    <div *ngFor="let contato of contatos">
      <p class="pl-2 leftRed m-0">{{contato.tipo}} <a href="{{ contato.url }}">{{ contato.nome }}</a></p>
    </div>
  </div>
  <ol>
    <div class="bottomOrange pb-2 mb-4">
      <li>Coleta de Dados</li>
    </div>
    <p>Podemos coletar dados pessoais através do fornecimento voluntário de informações em qualquer formulário disponibilizado no site institucional, no portal e/ou na plataforma mediante preenchimento, bem como, podemos armazenar os dados básicos da sua navegação e interação com o site e ferramentas.</p>
    <p>É importante deixarmos você ciente de que, ao criar um perfil de usuário, você nos fornece <b>informações pessoais</b> que incluem seu nome/login e uma senha. Você também poderá optar por adicionar demais registros importantes para a validação do seu perfil de usuário. Mesmo se não estiver conectado ao nosso sistema, você poderá optar por nos fornecer informações, como um endereço de e-mail para receber atualizações sobre os processos seletivos e outras informações sobre a nossa empresa.</p>
    <p>Usamos as informações coletadas para aprimoramento dos nossos serviços, bem como garantir que tudo funcione como esperado. Neste sentido, podemos por exemplo, solicitar informações relacionados a Nome completo, CPF, Telefone, Endereço Completo, E-mail, nos casos de uso da plataforma de negociação de débitos.</p>
    <p>Em respeito a todos os usuários e aos direitos e garantias fundamentais abarcados pela Constituição da República Federativa do Brasil de 1988, <b>nossos serviços não são realizados com base em categorias sensíveis, tais como: raça, religião, orientação sexual ou saúde.</b></p>
    <p class="subtitle"><b>CONSENTIMENTO</b></p>
    <p>Ao longo desta Política de Privacidade, informamos que alguns dados  pessoais  somente serão coletados pela <b>ATMA</b> com o seu consentimento. </p>
    <p>Da mesma forma, esses dados pessoais somente poderão ser tratados mediante autorização e para as finalidades descritas.</p>
    <p>Ao ler esta Política de Privacidade e clicar, ao final, em <b><i>"Eu li, estou ciente das condições de tratamento dos meus dados pessoais e forneço meu consentimento, quando aplicável, conforme  descrito  na  Política  de  Privacidade."</i></b>,  você  consente com  o  tratamento  dos dados pessoais nas formas aqui indicadas.</p>
    <p>Vale lembrar que o tratamento de seus dados pessoais é condição necessária para que possamos prestar nossos serviços para você. Ao fornecer as informações pessoais, o usuário está consentindo com a presente Política de Privacidade. Assim, o usuário, ao cadastrar-se, manifesta conhecer e pode exercitar seus <b>direitos de cancelar seu cadastro, acessar e atualizar seus dados pessoais e garante a veracidade das informações por ele disponibilizadas.</b></p>
    <p>Revogação do consentimento</p>
    <p>Caso você tenha dado o seu consentimento para tratamento dos seus dados pessoais, você pode solicitar a revogação desta autorização. A revogação do consentimento pode resultar na impossibilidade de uso de algumas funcionalidades do portal e/ou da plataforma.</p>
    <p>Caso você tenha dúvidas sobre qualquer um dos termos explicados aqui, estamos à disposição em nossos canais de atendimento informados acima para ajudá-lo.</p>
    <p class="subtitle"><b>PARA QUAIS FINALIDADES UTILIZAMOS OS SEUS DADOS PESSOAIS?</b></p>
    <p>Os dados pessoais são coletados e armazenados para podermos prestar um serviço de alta qualidade e oferecer uma ótima experiência. Detalhamos a seguir as finalidades para as quais utilizamos os seus dados pessoais:</p>
    <ul>
      <li>Bem-estar do usuário e visitante: aprimorar o produto e/ou serviço oferecido, facilitar, agilizar e cumprir os compromissos estabelecidos entre o usuário e a empresa, melhorar a experiência dos usuários e fornecer funcionalidades específicas a depender das características básicas do usuário.</li>
      <li>Melhorias da plataforma: compreender como o usuário utiliza os serviços da plataforma, para ajudar no desenvolvimento de negócios e técnicas.</li>
      <li>Previsão do perfil do usuário: tratamento automatizados de dados pessoais para avaliar o uso na plataforma.</li>
      <li>Dados de cadastro: para permitir o acesso do usuário a determinados conteúdos da plataforma, exclusivo para usuários cadastrados</li>
      <li>Dados de contrato: conferir às partes segurança jurídica e facilitar a conclusão do negócio.</li>
    </ul><br>
    <p>O tratamento de dados pessoais para finalidades não previstas nesta Política de Privacidade <b>somente ocorrerá mediante comunicação prévia ao usuário</b>, de modo que os direitos e obrigações aqui previstos permanecem aplicáveis.</p>
    <p class="subtitle"><b>COMO RECOLHEMOS OS DADOS PESSOAIS?</b></p>
    <p>Os dados pessoais são recolhidos quando o usuário cria uma conta no portal <b>“ATMA.Digital”</b> e na plataforma <b>“Faça Acordo”</b> ou quando nos fornece vosso e-mail para recebimento de newsletter.</p>
    <p class="subtitle"><b>QUAIS DADOS PESSOAIS COLETAMOS?</b></p>
    <p>Alertamos que as informações coletadas pela <b>ATMA</b> e como essas informações são usadas, dependem de como você usa o nosso portal e de como gerencia os controles de privacidade, isto porque a partir deles, podemos identificar o usuário, além de garantir uma maior segurança e bem-estar às suas necessidade. Dependendo do tipo de acesso (site institucional/portal/plataforma), podemos coletar:</p>
    <ul>
      <li>Dados para a criação da conta: nome completo, CPF, e-mail, data de aniversário, endereço, telefone celular;</li>
      <li>Dados para otimização da navegação: acesso a páginas, palavras-chave utilizadas na busca e recomendações;</li>
      <li>Dados relacionados a contratos para concretizar transações: dados referentes ao pagamento e transações;</li>
      <li>Newsletter: o e-mail cadastrado pelo visitante que optar por se inscrever na Newsletter será coletado e armazenado até que o usuário solicite o descadastro.</li>
      <li>Dados técnicos, como informações de URL, de conexão de rede, do provedor, e do dispositivo</li>
      <li>Cookies</li>
      <li>Atributos do dispositivo, tais como ID, sistema operacional, navegador e modelo</li>
      <li>Dados de geolocalização do dispositivo caso você autorize a coleta a partir do seu dispositivo.</li>
    </ul><br>
    <p class="subtitle"><b>REGISTRO DE ATIVIDADES</b></p>
    <p>A sua navegação e interação também podem ser registrados, através de diversas tecnologias aplicáveis, para que seja possível oferecer o melhor conteúdo, orientar estatísticas para melhoria do portal, assim como atender a necessidades legais e administrativas em caso de fraude ou ordem judicial.</p>
    <p>Podemos registrar as atividades que você realiza quando utiliza nosso site institucional, portal ou plataforma, criando, quando possível e aplicável, logs (registros de atividades efetuadas nos sites e aplicativos e serviços) que conterão: o endereço IP, acesso e ações realizadas por você no serviço disponibilizado, data e hora de cada ação realizada e informações sobre o dispositivo utilizado, tais como a versão de sistema operacional, navegador e geolocalização. Também podemos utilizar certas tecnologias, próprias ou de terceiros, de monitoramento das atividades realizadas enquanto você acessa nossos sites e blogs, tais como:</p>
    <div class="pl-4">
      <p><b><i>Cookies:</i></b> são arquivos de internet que armazenam de forma temporária o que você está visitando na rede. A <b>ATMA</b> possui cookies em seus websites e recebe informações de parceiros a respeito de cookies inseridos nos seus respectivos websites. Os cookies podem ser utilizados para diversos propósitos, incluindo lembrar-se de você e de suas preferências, persistir informações relacionadas a suas atividades no site visitado ou coletar informações que podem ser usadas para oferecer conteúdo de uma forma personalizada. Nossos sites também podem utilizar objetos armazenados localmente para fornecer determinado conteúdo, tais como vídeo sob demanda, videoclipes ou animação.</p>
      <p>O usuário e o visitante da Plataforma manifesta conhecer e aceitar que pode ser utilizado um sistema de coleta de dados de navegação mediante à utilização de cookies.</p>
      <p>O <i>cookie</i> persistente permanece no disco rígido do usuário e visitante depois que o navegador é fechado e será usado pelo navegador em visitas subsequentes ao site. Os cookies persistentes podem ser removidos seguindo as instruções do seu navegador. Já o cookie de sessão é temporário e desaparece depois que o navegador é fechado. É possível redefinir seu navegador da web para recusar todos os cookies, porém alguns recursos da plataforma podem não funcionar corretamente se a capacidade de aceitar cookies estiver desabilitada.</p>
      <p>Também utilizamos a tecnologia de <b><i>cookies</i></b> para compreender melhor a sua navegação e preferências, assim oferecer um conteúdo personalizado e mais relevante para você. A maioria dos navegadores de Internet aceitam <b><i>cookies</i></b> automaticamente, mas você pode alterar suas configurações de internet para não aceitar cookies ou sujeitá-los a sua autorização.</p>
      <p><b><i>Ferramentas de analytics:</i></b> Essas ferramentas podem coletar informações como a forma que você visita um site, incluindo quais páginas e quando você visita tais páginas, além de outros sites que foram visitados antes, entre outras.</p>
    </div>
    <p>Todas as tecnologias utilizadas por nós sempre respeitarão os termos desta Política de Privacidade.</p>
    <div class="bottomOrange pb-2 mb-4">
      <li>Armazenamento, Transferência e Segurança dos Dados armazenados</li>
    </div>
    <p class="subtitle"><b>ARMAZENAMENTO</b></p>
    <p>Todos os dados coletados serão armazenados no banco de dados do portal em ambiente seguro, observadas as tecnologias disponíveis.</p>
    <p>Os usuários cadastrados utilizam o CPF e senha para acesso a seus dados no site, nós não compartilhamos esses dados, sendo o usuário inteiramente responsável pela sua guarda, atualização e manutenção.</p>
    <p>Quando você está conectado ao perfil do usuário, pode analisar e atualizar as informações ali inseridas, mantendo tudo atualizado.</p>
    <p>Você também poderá exportar uma cópia do conteúdo do seu perfil se quiser fazer <i>backup</i>.
      Você também pode solicitar a remoção de todos os dados armazenados em seu perfil e coletados por nós, com base na legislação aplicável. Quando você exclui dados, seguimos uma política de exclusão para garantir que eles sejam removidos de forma segura e completa dos nossos servidores ou retidos apenas de forma anônima.</p>
    <p>Nós nos esforçamos para que nossos serviços mantenham as informações protegidas em caso de exclusão acidental ou maliciosa. Devido a isso, pode haver um espaço de tempo entre o momento em que você exclui algo e o momento em que as cópias são excluídas dos nossos sistemas ativos e de backup.</p>
    <p><u>Incorporamos segurança nos nossos serviços para proteger suas informações. de acesso, alteração, divulgação ou destruição não autorizada das informações que coletarmos, e isso inclui a restrição ao acesso a informações pessoais por parte de empregados da <b>ATMA</b>, contratados e representantes que necessitam dessas informações para processá-las. Toda pessoa com esse acesso está sujeita a rigorosas obrigações contratuais de confidencialidade, podendo ser disciplinada ou dispensada se deixar de cumprir tais obrigações.</u></p>
    <p>E, por fim, alertamos que você <b>NÃO</b> conceda a terceiros o acesso a partes do seu perfil de usuário, mesmo em caso de não conseguir usar a conta por um motivo inesperado.</p>
    <p class="subtitle"><b>SEGURANÇA DOS DADOS PESSOAIS ARMAZENADOS</b></p>
    <p>Nosso sistema se compromete a aplicar as medidas técnicas e organizativas aptas a proteger os dados pessoais de acessos não autorizados e de situações de destruição, perda, alteração, comunicação ou difusão de tais dados.</p>
    <p>Em caso de utilização de cartão de crédito, os dados relativos aos cartões são criptografados usando a tecnologia <i>"secure socket layer" (SSL)</i> que garante a transmissão de dados de forma segura e confidencial, de modo que a transmissão dos dados entre o servidor e o usuário ocorre de maneira cifrada e encriptada.</p>
    <p>A plataforma não se exime de responsabilidade por culpa exclusiva de terceiros, como em caso de ataque de hackers ou crackers, ou culpa exclusiva do usuário, como no caso em que ele mesmo transfere seus dados a terceiros. O site se compromete a comunicar o usuário em caso de alguma violação de segurança dos seus dados pessoais.</p>
    <p>Os dados pessoais armazenados são tratados com confidencialidade, dentro dos limites legais. No entanto, podemos divulgar suas informações pessoais caso sejamos obrigados pela lei para fazê-lo ou se você violar nossos Termos de Serviço.</p>
    <p class="subtitle"><b>MEDIDAS DE SEGURANÇA</b></p>
    <p>A ATMA usa diversos tipos de medidas de segurança para garantir a integridade de seus dados pessoais, como padrões de segurança de informação praticados pela indústria quando coleta e armazena dados pessoais</p>
    <p>Os dados pessoais podem, ainda, ser armazenados por meios de tecnologia de <i>cloud computing</i> e outras tecnologias que surjam futuramente, visando sempre a melhoria e aperfeiçoamento de nossos serviços e segurança.</p>
    <p>Tratamos a segurança dos seus dados pessoais com o máximo de cuidado, utilizando padrões e melhores práticas adotados no mercado. Temos uma equipe robusta, altamente qualificada e responsável por garantir que a <b>ATMA</b> adote as melhores práticas de segurança, dentre elas:</p>
    <ul>
      <li>Múltiplo fator de autenticação para finalização de acordos extrajudiciais;</li>
      <li>Segurança como código, a fim de viabilizar automações e respostas rápidas e eficientes para eventos de segurança no ambiente tecnológico;</li>
      <li>Criptografia para dados em repouso, em trânsito e em uso, para garantir a integridade das informações;</li>
      <li>Monitoramento contínuo do ambiente;</li>
      <li>Análises e testes contínuos de segurança da informação em nossos sistemas, feitos por times internos e externos;</li>
      <li>Auditorias periódicas.</li>
    </ul>
    <p><b>Recomendamos ainda que você nunca compartilhe sua senha com ninguém, ela é pessoal e intransferível.</b></p>
    <p class="subtitle"><b>POR QUANTO TEMPO OS DADOS PESSOAIS FICAM ARMAZENADOS?</b></p>
    <p>Os dados pessoais do usuário são armazenados durante o período necessário para a prestação do serviço ou o cumprimento das finalidades previstas no presente documento, conforme o disposto no inciso I do artigo 15 da Lei 13.709/18.</p>
    <p>Os dados podem ser removidos ou anonimizados a pedido do usuário, excetuando os casos em que a lei oferecer outro tratamento. Ainda, os dados pessoais dos usuários apenas podem ser conservados após o término de seu tratamento nas seguintes hipóteses previstas no artigo 16 da referida lei:</p>
    <ol type="I">
      <li>cumprimento de obrigação legal ou regulatória pelo controlador;</li>
      <li>estudo por órgão de pesquisa, garantida, sempre que possível, a anonimização dos dados pessoais;</li>
      <li>transferência a terceiro, desde que respeitados os requisitos de tratamento de dados dispostos nesta Lei;</li>
      <li>uso exclusivo do controlador, vedado seu acesso por terceiro, e desde que anonimizados os dados.</li>
    </ol><br>
    <p class="subtitle"><b>OS DADOS PESSOAIS ARMAZENADOS SERÃO TRANSFERIDOS A TERCEIROS?</b></p>
    <p><b>Os dados pessoais não podem ser compartilhados com terceiros,</b> a não ser entre empresas do grupo <b>ATMA</b></p>
    <p>Os terceiros indicados recebem os dados na medida do necessário para permitir que eles realizem os serviços contratados.</p>
    <p>Com relação aos fornecedores de serviços terceirizados como processadores de transação de pagamento, informamos que cada qual tem sua própria política de privacidade. Desse modo, recomendamos a leitura das suas políticas de privacidade para compreensão de quais informações pessoais serão usadas por esses fornecedores.</p>
    <div class="bottomOrange pb-2 mb-4">
      <li>Uso, Divulgação e Compartilhamento de Informações</li>
    </div>
    <p>A <b>ATMA</b> utiliza internamente os dados coletados para:</p>
    <ul>
      <li>Elaborar estatísticas gerais;</li>
      <li>Comunicar atividades do próprio site, do portal <b>“ATMA.Digital”</b> e da plataforma <b>“Faça Acordo”</b>.</li>
      <li>Demais atividades técnicas relacionadas com a finalidade do site institucional, do portal <b>“ATMA.Digital”</b> e da plataforma <b>“Faça Acordo”</b>.</li>
    </ul><br>
    <p>Usamos as informações que coletamos, como endereço de e-mail, para interagir diretamente com você. Por exemplo, podemos enviar uma notificação de processos seletivos ou se detectarmos atividades suspeitas, como uma tentativa de fazer login na sua conta.</p>
    <p class="subtitle"><b>COMPARTILHAMENTO DOS DADOS</b></p>
    <p>A <b>ATMA</b> não divulga ou compartilha publicamente em sistemas de busca ou internamente os dados pessoais privados do seu registro. Não temos objetivo de expor informações que identifiquem você pessoalmente para parceiros, como nome, endereços ou e-mail, <b>a menos que você nos autorize.</b></p>
    <p>O compartilhamento dos seus dados também poderá ser feito com parceiros de negócio e com autoridades e órgãos reguladores para diferentes finalidades, quando necessário. Em virtude de ordens judiciais ou de disposições legais e administrativas, a <b>ATMA</b> pode vir a ser compelida a revelar informação <b>exclusivamente</b> às autoridades competentes ou a quem por elas for judicialmente solicitada.</p>
    <p>Sempre que efetuado, o compartilhamento de dados será realizado dentro dos limites e propósitos dos nossos negócios e de acordo com o que autoriza a legislação aplicável.</p>
    <p>Diante da fusão ou venda da instituição, do portal ou da plataforma à outra empresa, os dados dos usuários podem ser transferidos para os novos proprietários.</p>
    <p>Apesar de não compartilharmos informações pessoais com empresas, organizações ou indivíduos externos à <b>ATMA</b>, e <b>a menos que você nos autorize com exceção às situações descritas abaixo:</b></p>
    <p class="subtitle"><b>COM SUA AUTORIZAÇÃO</b></p>
    <p>Compartilharemos informações pessoais fora da <b>ATMA</b> quando tivermos seu consentimento.</p>
    <p><b>Para processamento externo</b></p>
    <p>Fornecemos informações pessoais às nossas afiliadas ou outras empresas ou pessoas confiáveis para processar tais informações por nós, de acordo com nossas instruções e em conformidade com nossa Política de Privacidade e quaisquer outras medidas de segurança e de confidencialidade adequadas, para as seguintes situações: </p>
    <ul>
      <li>Aprimoramento dos nossos serviços, website e aplicativo e operacionalização;</li>
      <li>Contato por telefone, e-mail, SMS, WhatsApp, notificação push ou outros meios de comunicação;</li>
      <li>Auxílio no desenvolvimento de novas funcionalidades do portal e da plataforma; </li>
      <li>Transação financeira para realização de pagamentos;</li>
      <li>Marketing, prospecção, pesquisas de mercado, de opinião e promoção dos nossos serviços;</li>
      <li>Prevenção e resolução de problemas técnicos ou de segurança;</li>
      <li>Exercício regular de direitos da ATMA;</li>
      <li>Cumprimento de ordem judicial, de autoridade competente ou de órgão fiscalizador;</li>
      <li>Cumprimento de obrigação legal ou regulatória;</li>
    </ul><br>
    <p><b>Por motivos legais</b></p>
    <p>Compartilharemos informações pessoais fora da <b>ATMA</b> se acreditarmos, de boa-fé, que o acesso, o uso, a conservação ou a divulgação das informações sejam razoavelmente necessários para:</p>
    <ul class="confirm">
      <li>cumprir qualquer legislação, regulação, processo legal ou solicitação governamental aplicável;</li>
      <li>cumprir inclusive investigação de possíveis violações;</li>
      <li>detectar, impedir ou lidar de alguma forma com fraudes, problemas técnicos ou de segurança;</li>
      <li>proteger de prejuízos aos direitos, à propriedade ou à segurança da <b>ATMA</b>, dos nossos usuários ou do público, conforme solicitado ou permitido por lei.</li>
    </ul><br>
    <p>Se a <b>ATMA</b> for envolvida em uma fusão, aquisição ou venda de ativos, continuaremos a garantir a confidencialidade das suas informações pessoais e avisaremos os usuários afetados antes que as informações pessoais sejam transferidas ou submetidas a uma política de privacidade diferente.</p>
    <p class="subtitle"><b>RETENÇÃO E EXCLUSÃO DOS SEUS DADOS PESSOAIS</b></p>
    <p>Enquanto você estiver conosco, por todo o período em que a <b>ATMA</b> armazenar seus dados pessoais, eles serão mantidos em ambiente seguro e controlado.</p>
    <p>Quando aplicável, podemos armazenar os seus dados pessoais por um período adicional para fins de auditoria, cumprimento de obrigações legais ou regulatórias, para o exercício regular de direitos da <b>ATMA</b> ou também pelo prazo necessário de acordo com a base legal que justifique a retenção dos dados. Por exemplo, podemos armazenar seus dados para um eventual processo seletivo, cumprir com obrigações de pagamentos e para preservar nossos direitos em ações judiciais.</p>
    <p></p>
    <div class="bottomOrange pb-2 mb-4">
      <li>Permissão para envio de Mensagens</li>
    </div>
    <p>Solicitaremos sua autorização no momento do registro para o envio de comunicação para seu e-mail fornecido, ou seja, antes de usar informações para fins que não estiverem abordados nesta Política de Privacidade. </p>
    <p class="pl-2 leftRed"><b>Deixar de receber de e-mails</b></p>
    <p>Os envios de e-mails podem ser interrompidos a qualquer momento. Se você não deseja receber nossos e-mails, basta clicar no link que acompanha todos os e-mails enviados por nós, bem como, você também poderá ajustar esta condição no seu perfil de usuário.</p>
    <div class="bottomOrange pb-2 mb-4">
      <li>Alterações a esta política</li>
    </div>
    <p>A <b>ATMA</b> cumpre todas as leis, normas e regulamentos aplicáveis vigentes, no entanto, a <b>ATMA</b> se reserva no direito de revisar esta Política de Privacidade a qualquer momento a fim de se certificar de que suas ações estão em conformidade com a legislação vigente.</p>
    <p>Toda vez que alguma condição relevante desta Política de Privacidade for alterada, essas alterações serão válidas, eficazes e vinculantes após a nova versão ser divulgada no nosso site ou enviada por e-mail para você. As alterações e esclarecimentos surtirão efeito imediato após sua publicação no site, no portal ou plataforma.</p>
    <p>Prezamos sempre pela transparência: Assim, toda vez que uma alteração relevante for feita, nós enviaremos um comunicado a você indicando a nova versão vigente. Ao continuar a usar nossos produtos e serviços após uma alteração na Política de Privacidade, você estará concordando com as novas condições – mas você sempre pode manifestar a sua discordância por meio dos nossos canais de atendimento, se for o caso.</p>
    <p>Nas hipóteses em que as alterações a esta Política de Privacidade resultarem em mudanças nas práticas de tratamento de dados pessoais que dependam do seu consentimento, solicitaremos o seu consentimento com os novos termos da Política de Privacidade em relação ao tratamento de dados e finalidades indicados.</p>
    <div class="bottomOrange pb-2 mb-4">
      <li>Do Foro</li>
    </div>
    <p>Para a solução de controvérsias decorrentes do presente instrumento serão aplicadas integralmente as normas brasileiras vigentes.</p>
    <p>Os eventuais litígios deverão ser apresentados no foro da comarca em que se encontra a sede da empresa.</p>
    <p>Revisado e atualizado em Dezembro/2020.</p>
  </ol>
</div>
